{% extends "base.html" %}

{% block content %}

  {% for blogpost in blogposts %}
  <div class="blogpost-title">
    {{blogpost.title}}

    {% if this_user == blogpost.author %}
    <span><a class ="logged-who" href={{"/blog/%s/edit" % blogpost.key().id()}}>{{edit}}</a></span>
    {% endif %}

    <span class="blogpost-date">{{blogpost.created.strftime("%b %d, %Y")}}
    </span>
  </div>

  <hr>

  <p>Post by {{blogpost.author}}</p>

  <br>

  <pre class="blogpost-body">{{blogpost.content}}</pre>

  <br>

  <a class="comment-link" href={{"/blog/%s" % blogpost.key().id()}}>
    View Comments
  </a>

  <br>
  <br>
  <br>
  {% endfor %}
{% endblock %}
