<!DOCTYPE html>

<html id ="welcome-image">

  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href="\css\style.css">
    
  </head>
  
  <body class = "welcome">
  
    <div id ="welcome-words">
       
      <div id="welcome-greeting" class="welcome-text"><h1>Welcome, {{username}}!</h1></div>
      <a href="/blog" class="welcome-text"><div id = "the" class="welcome-text"><h1>The</h1></div>
      <div id ="welcome-title" class="welcome-text"><h1>"Books I Meant to Read"</h1></div>
      <div id ="word-blog" class="welcome-text"> <h1>Blog</h1></div></a>
       
    </div>
   
 
   
  </body>
  
</html>